// ==============================
// Custom style
// 自定义样式
// ==============================


.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  .header-title {
    font-family: $header-title-font-family;
    font-weight: bold;
    margin-right: 0.5rem;
    min-width: 10%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    //@include flex(10);
  }
}



a, button {
  //color: #27AE60;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: #1B5E20;
  }
}

.home[posts] {
  .summary {
    border-bottom: none;
    
    .featured-image-preview {
      padding: 50% 0 0;
    }
  }
}

.single {
  .post-meta {
    font-size: 1.05rem;
	
	.post-meta-line time {
	  font-size: 0.875rem;
	}
	
	.post-meta-line .author {
	  font-size: 1.05rem;
	}
  }
}

/* 渲染 markdownwn 的 css */

.single {
  .content {
    > h2, > h3, > h4, > h5, > h6 {
      > .header-mark {
        &::before {
          content: "";
          margin-right: 0;
        }
      }
    }
    ul, ol {
      padding-left: 0.85rem;
    }
  }
}





/* Theme dark */

html.dark {
  .header-wrapper {
    .header-title a {
      color: #ffffff;
    }
  }
}