@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
$global-font-family: "Google Sans Code", monospace;

// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Righteous&display=swap');
// $header-title-font-family: "Noto Sans SC", sans-serif;;

// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');
// $global-font-family: "Noto Serif SC", serif;